.NavBar {
    background-color: #E5E1BF;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
    font-family: "Poppins", sans-serif;
    color: #357266;
    font-weight: bold;
}
  
.Active i {
    color: #0E3B43;
}