.Post {
    background-color: #E5E1BF;
    border: 1px solid #D19C64;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    color: #357266;
    font-weight: 600;
}
  
.Post figure,
h5 {
    margin: 0 0;
}
  
.Heart {
    color: #f85032;
}
  
.Heart:hover {
    color: #0E3B43;
}
  
.HeartOutline:hover {
    color: #f85032;
}

.Description {
    padding-right: 35px;
    padding-left: 35px;
    text-align: left;
  }